/* Personalizaciones en styles/index.css */
.text-purple {
  color: #a855f7 !important;
}

.btn-purple {
  background-color: #7952b3;
  border-color: #7952b3;
}

.btn-purple:hover {
  background-color: #613d95;
  border-color: #613d95;
}

.alert-purple {
  background-color: #2e1065;
  border-color: #6b21a8;
  color: #e9d5ff;
}

.text-gradient {
  background: linear-gradient(135deg, #a855f7 0%, #3b82f6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs-7 {
  font-size: 0.825rem;
}

.font-mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}